<div>test</div>
<script type="text/javascript" th:src="@{/jquery-3.7.1.min.js}"></script>
<script type="text/javascript" th:src="@{/MainFunction.js?v1}"></script>

<div>
  <div>From</div>
  <input type="date" id="start" name="trip-start" value="2018-07-22" min="2018-01-01" max="2018-12-31" />
  <div>To</div>
  <input type="date" id="end" name="trip-end" value="2018-07-22" min="2018-01-01" max="2018-12-31" />
  <div>
    <button id="subm" onClick="SubmitForm()">Submit</button>
  </div>

</div>
<div id="result"></div>

